.listWeek {
  width: 50%;
  min-height: 15rem;
  border: 2px solid lightseagreen;
  margin: 20px auto;
  padding: 5px;
}
.listWeek__header {
  display: flex;
  /*flex-direction: row;*/
  justify-content: center;
  align-self: flex-end;
}

.listWeek__header-count {
  /*justify-content: center;*/
}

.listWeek__header-buttons {
  align-self: flex-end;
  /*justify-content: flex-end;*/
}
.listWeek__header--buttons-btnPrev{
  height: 25px;
  width: 50px;
}
.listWeek__header--buttons-btnNext {
  height: 25px;
  width: 50px;
}

.listWeek__content {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  padding: 0;
  /*align-items: stretch;*/
}